### Teil 3 (7 + 5 P): 
Nutzen Sie drei Klassifikationsverfahren, um vorherzusagen, ob es eine Klimaanlage gibt (CentralAir). Eine davon soll ein Entscheidungsbaum sein, der auch grafisch ausgegeben werden kann (ggfs. separat in einem pdf). Gehen Sie analog zu Teil 2 vor, mit folgenden Unterschieden (siehe *): A, Statt Inferenz – Entscheidungsbaum beschreiben, B, Statt der o.g. Metriken (statt R2 etc.): Korrektklassifikationsrate (Accuracy), False-Positive und False-Negative-Rate.

We used the following three classification methods: 
- k-nearest-neighbors
- SVM
- ?

In [1]:
import sys
import pandas as pd
import numpy as np
import seaborn as sns #visualisation
import matplotlib.pyplot as plt #visualisation

from sklearn.model_selection import train_test_split # for splitting the data
from sklearn.preprocessing import StandardScaler  # feature scaling
from sklearn.neighbors import KNeighborsClassifier  # knn model from sklearn
from sklearn.metrics import classification_report, confusion_matrix  # evaluation of model

import pickle  # conservation of model 

#import matplotlib
%matplotlib inline 

# Seaborn customice visualisation
sns.set(style="white", palette="muted", color_codes=True) 

print('Python Verison: ', sys.version)  # parentheses necessary in python 3.
print('Pandas Version: ', pd.__version__)
print('Numpy Version: ', np.__version__)
print('Seaborn Version: ', sns.__version__)
#print('Matplotlib Version: ', matplotlib.__version__)

Python Verison:  3.7.4 (default, Aug  9 2019, 18:34:13) [MSC v.1915 64 bit (AMD64)]
Pandas Version:  0.25.1
Numpy Version:  1.16.5
Seaborn Version:  0.10.0

In [2]:
path = 'cleanedSet.csv'
#path = 'SetFiltered.csv'
df = pd.read_csv(path, delimiter=";")
df.head()

,Zoning Classification,Lot Area,Neighborhood,Dwelling Type,Overall Quality,Overall Condition,Year Built,Remodel Date,Roof Style,Basement Area SF,Heating Quality and Condition,CentralAir,Ground Area SF,Total Rooms above Grade,Garage Cars,Year Sold,Sale Price
0,RM,1300,Blueste,TwnhsE,6,6,1980,1980,Gable,561,TA,Y,1229,5,2,2009,124000
1,RM,1477,MeadowV,TwnhsE,4,4,1970,1970,Gable,630,TA,Y,630,3,1,2009,80000
2,RM,1491,MeadowV,TwnhsE,4,6,1972,1972,Gable,630,Ex,Y,630,3,0,2010,75500
3,RM,1596,MeadowV,Twnhs,4,5,1973,1973,Gable,462,TA,Y,988,5,1,2009,91000
4,RM,1680,BrDale,Twnhs,6,5,1973,1973,Gable,483,TA,Y,987,5,1,2008,100000

In [3]:
# renaming columns 
df = df.rename(columns={"HeatingQC": "Heating Quality and Condition","BldgType": "Dwelling Type", "RoofStyle":"Roof Style", "MSZoning":"Zoning Classification", "LotArea": "Lot Area", "OverallQual":"Overall Quality", "OverallCond":"Overall Condition","YearBuilt":"Year Built", "TotalBsmtSF":"Basement Area SF", "YearRemodAdd": "Remodel Date", "GrLivArea": "Ground Area SF", "TotRmsAbvGrd": "Total Rooms above Grade", "YrSold": "Year Sold", "GarageCars": "Garage Cars", "SalePrice": "Sale Price"})
df.head()

,Zoning Classification,Lot Area,Neighborhood,Dwelling Type,Overall Quality,Overall Condition,Year Built,Remodel Date,Roof Style,Basement Area SF,Heating Quality and Condition,CentralAir,Ground Area SF,Total Rooms above Grade,Garage Cars,Year Sold,Sale Price
0,RM,1300,Blueste,TwnhsE,6,6,1980,1980,Gable,561,TA,Y,1229,5,2,2009,124000
1,RM,1477,MeadowV,TwnhsE,4,4,1970,1970,Gable,630,TA,Y,630,3,1,2009,80000
2,RM,1491,MeadowV,TwnhsE,4,6,1972,1972,Gable,630,Ex,Y,630,3,0,2010,75500
3,RM,1596,MeadowV,Twnhs,4,5,1973,1973,Gable,462,TA,Y,988,5,1,2009,91000
4,RM,1680,BrDale,Twnhs,6,5,1973,1973,Gable,483,TA,Y,987,5,1,2008,100000

## K-nearest-neighbors classification
Für die knn Klassifikation ist es sinnvoll, wenn nur numerische Spalten in dem Datensatz enthalten sind. Somit müssen die nicht numerischen Spalten gelöschte werden.

In [4]:
# Seperate columns by datatype
categoricalCols = []
for i in range(len(df.columns)):
    if (df.dtypes[i] == object):
        categoricalCols.append(df.columns[i])

numericalCols = []
for i in range(len(df.columns)):
    if (df.dtypes[i] == "int64" ):
        numericalCols.append(df.columns[i])

boolCols = []
for i in range(len(df.columns)):
    if (df.dtypes[i] == "bool" ):
        boolCols.append(df.columns[i])
        
        
print('categoricalCols:', categoricalCols)
print('numericalCols:', numericalCols)
print('boolCols:', boolCols)

categoricalCols: ['Zoning Classification', 'Neighborhood', 'Dwelling Type', 'Roof Style', 'Heating Quality and Condition', 'CentralAir']
numericalCols: ['Lot Area', 'Overall Quality', 'Overall Condition', 'Year Built', 'Remodel Date', 'Basement Area SF', 'Ground Area SF', 'Total Rooms above Grade', 'Garage Cars', 'Year Sold', 'Sale Price']
boolCols: []

In [5]:
# Remove non numerical columns and reaadd the column CentralAir
dfnumerical = df.drop(columns=categoricalCols)
dfnumerical = dfnumerical.join(df['CentralAir'])
dfnumerical.head()

,Lot Area,Overall Quality,Overall Condition,Year Built,Remodel Date,Basement Area SF,Ground Area SF,Total Rooms above Grade,Garage Cars,Year Sold,Sale Price,CentralAir
0,1300,6,6,1980,1980,561,1229,5,2,2009,124000,Y
1,1477,4,4,1970,1970,630,630,3,1,2009,80000,Y
2,1491,4,6,1972,1972,630,630,3,0,2010,75500,Y
3,1596,4,5,1973,1973,462,988,5,1,2009,91000,Y
4,1680,6,5,1973,1973,483,987,5,1,2008,100000,Y

### Model Training
Daten aufbereiten:

In [26]:
# safe the columns and labels in two different variables
X = dfnumerical.iloc[:, :-1].values  # X contains all columns of the dataset but cantralAir
y = dfnumerical.iloc[:, 11].values   # y contains the labels for each row (Y or N), so if it has central air or not

# Splitting the dataset into a 80% train set and a 20% test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

# Feature scaling for normalizing so that each feature contributes approximately proportionately to the final distance.
scaler = StandardScaler()
scaler.fit(X_train)

X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

Initialisieren des Modells:

In [27]:
# initiate model with parameter K = 5 
knn_classifier = KNeighborsClassifier(n_neighbors=1)

# fit the model to the data
knn_classifier.fit(X_train, y_train)

# make prediction on test data
y_pred = knn_classifier.predict(X_test)

# evaluating the trained model
print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[  3   4]
 [  1 133]]
              precision    recall  f1-score   support

           N       0.75      0.43      0.55         7
           Y       0.97      0.99      0.98       134

    accuracy                           0.96       141
   macro avg       0.86      0.71      0.76       141
weighted avg       0.96      0.96      0.96       141

### Saving the generated model

In [28]:
# specifying filename for model
filename='knn_model.sav'

# save the model in the created file only executed once
#pickle.dump(knn_classifier, open(filename, 'wb'))

In [9]:
def load_knn_model():
    # load the model
    load_knn_classification_model = pickle.load(open(filename, 'rb'))
    return load_knn_classification_model

def validate_model(path):
    # load the dataset
    df_validation = pd.read_csv(path, delimiter=";")
    # renaming columns 
    df_validation = df_validation.rename(columns={"HeatingQC": "Heating Quality and Condition","BldgType": "Dwelling Type", "RoofStyle":"Roof Style", "MSZoning":"Zoning Classification", "LotArea": "Lot Area", "OverallQual":"Overall Quality", "OverallCond":"Overall Condition","YearBuilt":"Year Built", "TotalBsmtSF":"Basement Area SF", "YearRemodAdd": "Remodel Date", "GrLivArea": "Ground Area SF", "TotRmsAbvGrd": "Total Rooms above Grade", "YrSold": "Year Sold", "GarageCars": "Garage Cars", "SalePrice": "Sale Price"})

    
    # Seperate columns by datatype
    categoricalCols = []
    for i in range(len(df_validation.columns)):
        if (df_validation.dtypes[i] == object):
            categoricalCols.append(df_validation.columns[i])

    numericalCols = []
    for i in range(len(df_validation.columns)):
        if (df_validation.dtypes[i] == "int64" ):
            numericalCols.append(df_validation.columns[i])

    boolCols = []
    for i in range(len(df_validation.columns)):
        if (df_validation.dtypes[i] == "bool" ):
            boolCols.append(df_validation.columns[i])

            
    # Remove non numerical columns and reaadd the column CentralAir
    dfnumerical_validation = df_validation.drop(columns=categoricalCols)
    dfnumerical_validation = dfnumerical_validation.drop(columns=boolCols)
    
    X_validation = dfnumerical_validation
    y_validation = df_validation['CentralAir']
    load_knn_classification_model = load_knn_model()  # retrieve saved model
    
    # predicting y values for validation set
    y_pred = load_knn_classification_model.predict(X_validation)
    
    print(set(y_validation) - set(y_pred))
    
    # evaluating the trained model
    print(confusion_matrix(y_validation, y_pred))
    print(classification_report(y_validation, y_pred))

In [30]:
#path = 'YourDataSet'
#validate_model(path)

## SVM Classification